
* {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: #141b02;
    padding: 0 13%;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 60px;
    padding: 0 30px;
}

.nav-logo {
    border: 1px solid #5EAC24;
    padding: 5px;
    border-radius: 100%;
    background-color: #5EAC24;

}
.nav-logo > img{
    width: 20px;
}

.nav-text {
    color: #5EAC24;
}

.nav-button  > button{
    border: 1.5px solid #5EAC24;
    padding: 3px 20px;

    color: #5EAC24;
    background-color: black;

    border-radius: 10px;
}
/* ================================ */

.nav-logo:hover {
    animation:rotate-180-cw .4s cubic-bezier(.25,.46,.45,.94) both
}

@keyframes rotate-180-cw{0%{transform:rotate(0)}100%{transform:rotate(180deg);box-shadow:0 0 20px 0 rgba(0,0,0,.35)}}



.nav-button > button:hover {
    background-color:#353b30;
}

/* ==================================== */

.header-main {
    background-color: #212235;


    width: 100%;
    height: 35vh;
    border-radius: 25px;

    position: relative;

    margin-top: 35px;
    top: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    border: 1.5px solid #0a3830;
}


.radar, .sweep { position: absolute; }
.radar {
  overflow: hidden; 
  top: 46%; left: 10%;
  margin: -117px;
  width: 248px; height: 248px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.5),
    inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
  background: 
    repeating-radial-gradient(transparent 0 23px, #287a33 24px 26px, #0000 27px), 
    linear-gradient(transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50% no-repeat,
    linear-gradient(90deg, transparent 49.75%, #0e4c42 0 50.25%, transparent 0) 50% no-repeat,
    linear-gradient(#333, #111);
  background-size: 100%, 218px 218px, 218px 218px, 100%;
}
.sweep {
  box-sizing: border-box;
  top: 16px; left: 16px;
  border-right: solid 1px hsla(145, 50%, 40%, .3);
  width: 108px; height: 108px;
  border-radius: 100% 0 0 0;
  transform-origin: 100% 100%;
  background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, hsla(145, 50%, 40%, 1));
  animation: sweep 5s infinite linear;
}
@keyframes sweep { to { transform: rotate(360deg); } }


.text-header-main  {
    
    margin-left: 30%;
}

.text-header-main h1 {
    color: #5EAC24;
}
.text-header-main p {
    color: rgb(119, 104, 104);
}

.text2-header-main {
    margin-top: 40px;
    margin-bottom: 35px;
}


.header-main:hover {
    border: 1.5px solid #5EAC24;
    transition: all 0.8s;
}

.main-buttons {
    margin-top: 25px;
}

.main-buttons button {
    border: 1.5px solid #0a3830;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #212235;
    color: white;
}

.main-buttons button:hover {
    background-color: #38462e;
    border: 1.5px solid #5EAC24;
    transition: all 0.8s;
    animation:slide-top .3s cubic-bezier(.25,.46,.45,.94) both
}
@keyframes slide-top{0%{transform:translateY(0)}100%{transform:translateY(-5px)}}


.tabs {
    margin-top: 25px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 150px;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}

.tab {
    width: 100%;
    background-color: #212235;
    padding: 15px 10px;
    border-radius: 15px;
    border: 1px solid #0a3830;
}
.tab1 {grid-area: 1 / 1 / 2 / 2; border-left: 5px solid rgb(107, 247, 107);}
.tab2{grid-area: 1 / 2 / 2 / 3; border-left: 5px solid yellow;}
.tab3{grid-area: 1 / 3 / 2 / 4; border-left: 5px solid rgb(107, 247, 107);}
.tab4{grid-area: 1 / 4 / 2 / 5;  border-left: 5px solid yellow;}

.first-line {
    display:  flex;
    justify-content: space-between;
    margin-bottom: 10px;
     color: white;
}

.first-word-red {
    border: 1.5px solid red;
    padding: 3px 8px;
    border-radius: 10px;
    background-color: rgb(104, 75, 75);
    color: red;
}

.first-word-yellow {
    border: 1.5px solid yellow;
    padding: 3px 8px;
    border-radius: 10px;
    background-color: rgb(98, 107, 74);
    color: yellow;
}

.first-word-green {
    border: 1.5px solid rgb(107, 247, 107);
    padding: 3px 8px;
    border-radius: 10px;
    background-color: rgb(25, 61, 24);
    color: rgb(107, 247, 107);

}

.second-line {
    margin-top: 25px;
    color: white;
}


.first-div {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    color: rgb(107, 247, 107);
}

.gray-div {
    height: 5px;
    width: 70%;
    background-color: gray;
}

.green-div1 {height: 5px;width: 65%;background-color: rgb(107, 247, 107);}
.green-div2{height: 5px; width: 40%; background-color: rgb(107, 247, 107);}
.green-div3{height: 5px; width: 15%; background-color: rgb(107, 247, 107);}
.green-div4{height: 5px; width: 80%; background-color: rgb(107, 247, 107);}


.tab:hover{
    border: 2px solid rgb(107, 247, 107);
    animation:rotate-br .3s cubic-bezier(.455,.03,.515,.955) both
}

@keyframes rotate-br{0%{transform:rotate(0);transform-origin:bottom right}100%{transform:rotate(2deg);transform-origin:bottom right}}




.main-footer {

    margin-top: 25px;
    width: 100%;
    height: 50px;
    border: 1.5px solid red;
    border-radius: 10px;
    text-align: center;
    padding-top: 10px;
    background-color: rgb(78, 35, 35);
    color: red;
}

.main-footer:hover {

    animation:slide-fwd-center .45s cubic-bezier(.25,.46,.45,.94) both}

@keyframes slide-fwd-center{0%{transform:scale(1)}100%{transform:scale(1.1)}}



footer {

    height: 80px;


    display: flex;
    margin-top: 120px;
    justify-content: space-between;
    align-items: center;

    width: 100%;
}



footer a {
    text-decoration: none;
    color: white;
}

.dashboard {
    color: rgb(107, 247, 107);
}

footer a:hover {
    color: rgb(107, 247, 107);
    animation:slide-top 0.5s cubic-bezier(.25,.46,.45,.94) both
}

@keyframes slide-top{0%{transform:translateY(0)}100%{transform:translateY(-10px)}}


footer h3 {
    border: 1px solid gray;
    padding: 10px 15px;
    border-radius: 100%;
    background-color: gray;

    position: absolute;
    color: white;
    bottom: 1px;
    right: 5px;
}